<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <title>Milli Money Expense Tracker</title>

     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        body, footer {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>


<body>
    <header>
        <nav class="teal accent-4">
            <div class="nav-wrapper grey-text text-lighten-3">
              <a href="https://cdn0.iconfinder.com/data/icons/business-management-line-2/24/cash-512.png" class="brand-logo grey-text text-lighten-5"><i class="material-icons"></i>Milli Money Expense Tracker</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Free 30-Day Trial</a></li>
                <li><a href="badges.html">Contact Us</a></li>
                <!-- Dropdown Trigger -->
                <li><a href="badges.html">Sign in<i class="material-icons right">person_outline</i></a></li>
              </ul>
            </div>
          </nav>


    </header>
     <main>

        <a href="/expenses/new" class="add-button"><button class ="btn waves-effect waves-light add-new-btn teal accent-4">Get started on your budget</button></a>

        <div class="container-phone">
            <img src ="https://i0.wp.com/bloggingrepublic.com/wp-content/uploads/2020/02/personal-expense-tracker-app.jpg">
          </div>
     
   
    
   </main>
   <footer class="page-footer teal accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Some Title</h5>
          <p class="grey-text text-lighten-5">The Lorem Stuff here.</p>
        </div>
        <div class="col l2 offset-l2 s6">
          <h6>About</h6>
          <ul>
            <li><a href="" class="grey-text text-lighten-5">Help</a></li>
            <li><a href="" class="grey-text text-lighten-5">Contact</a></li>
            
          </ul>
        </div>
        <div class="col l2 s6">
          <h6>Developer</h6>
          <ul>
            <li><a href="" class="grey-text text-lighten-5">Source</a></li>
            <li><a href="" class="grey-text text-lighten-5">Git hub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal accent-4" >
      
      <div id="footer" class="container center-align"> Copyright © 2021
    </div>
  </footer>


</body>
</html>