.moneypic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;

}

.add-button {
 display: block;
 text-align: center;
 padding: 45px;
 padding-bottom: 80px;
 
}

.see-button {
  display: block;
  text-align: center;
  padding: 5px;
}

#contain2{
   text-align: right;

}

#contain{
  text-align: left;
}

.back-button{
 height: 100%;

}
.balance{
    display: flex;
    margin-top: auto;


}

.container-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#totalbalance {
 font-weight: bold;
 margin-right: 10px;
}
.footer {
 display: flex;
 display: inline;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
