.moneypic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;

}

.add-button {
 display: block;
 text-align: center;
 padding: 15px;
 
}

.see-button {
  display: block;
  text-align: center;
  padding: 5px;
}

#contain2{
   text-align: right;

}

#contain{
  text-align: left;
}

.back-button{
 height: 100%;

}

.tag-remove{
    content: 'x'; // here is your X(cross) sign.
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

