.moneypic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;

}

.add-button {
 display: block;
 text-align: center;
 padding: 15px;
 
}

.see-button {
  display: block;
  text-align: center;
  padding: 5px;
}
````
#contain2{
   text-align: right;

}

#contain{
  text-align: left;
}

.back-button{
 height: 100%;

}
.balance{
    display: flex;
    margin-top: auto;


}

.container-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#totalbalance {
 font-weight: bold;
 margin-right: 10px;
}

